# Enable redirects
RewriteEngine On

# Per-URL 301 redirects from old links
Redirect 301 /projects https://yassineelidrissi.com/projects
Redirect 301 /logos https://yassineelidrissi.com/logos
Redirect 301 /aboutme https://yassineelidrissi.com/about
Redirect 301 /photography https://yassineelidrissi.com/photography

# Optional: catch-all for other legacy paths (use only if necessary)
# RedirectMatch 301 ^/.*$ https://yassineelidrissi.com/