---
// Fichier : src/components/Navbar.astro
import Container from './Container.astro';

// Définition des liens pour la modularité future
const navLinks = [
 { name: 'Work', href: '/' },
 { name: 'About me', href: '/about' },
 { name: 'Contact', href: '/contact' },
];
---

<nav class="py-md">
  
    <Container class="flex justify-center items-center">
    
  

    <div class="flex space-x-lg ml-xl">       {navLinks.map((link) => (
        <a 
          href={link.href} 
          class="text-base font-normal text-text-body-primary hover:text-gray-600 transition duration-150"
        >
          {link.name}
        </a>
      ))}
    </div>
    
  </Container>
</nav>